 <div class="wrapper">
  <div id="one" class="one">
    <video (click)="onClick('camera1')" src="assets/cameras/camera1.mp4" height="100%" width="100%" controls></video> 
  </div>
  <div class="two">
    <video (click)="onClick('camera2')" src="assets/cameras/camera2.mp4" height="100%" width="100%" controls></video> 
  </div>
  <div class="three">
    <video (click)="onClick('camera3')" src="assets/cameras/camera3.mp4" height="100%" width="100%" controls></video>
  </div>
  <div class="four">
    <video (click)="onClick('camera4')" src="assets/cameras/camera4.mp4" height="100%" width="100%" controls></video> 
  </div>
  <div class="five">
    <video (click)="onClick('camera5')" src="assets/cameras/camera5.mp4" height="100%" width="100%" controls></video> 
  </div>
  <div class="six">
    <video (click)="onClick('camera6')" src="assets/cameras/camera6.mp4" height="100%" width="100%" controls></video>
  </div>
  <div class="seven">
    <video class=mainVideo src="{{mainCamera}}" height="100%" width="100%" controls></video> 
    <!--<video (click)="onClick('camera2')" src="assets/cameras/camera2.mp4" height="100%" width="100%px" controls></video>-->
    <!--<div>{{testShow}}</div>-->
  </div>
</div>
